<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Appender para la consola -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" charset="UTF-8"/>
            <Charset>UTF-8</Charset>
        </Console>

        <!-- Appender para el archivo de registro -->
        <File name="File" fileName="log/log.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Charset>UTF-8</Charset> <!-- Especificar la codificación UTF-8 -->
        </File>
    </Appenders>

    <Loggers>
        <!-- Configurar el nivel de registro para root -->
        <Root level="INFO">
            <AppenderRef ref="Console"/> <!-- Asociar el appender de consola -->
            <AppenderRef ref="File"/>   <!-- Asociar el appender de archivo -->
        </Root>
    </Loggers>
</Configuration>
